@font-face{
	font-family: calligraphy;
	font-style: bold;
	src: url(font/broken-heart.ttf);
}
html, body{
	height: 100%;
	width: 100%;
}

#index-1{
	height: 100%;
	width: 100%;
}

#index-2{
	opacity: 1;
}

#intro-image{
	background: url("res/index.jpg") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -3;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#intro-image-blur{
	background: url("res/index-blur.jpg") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -2;
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#intro-image-fade{
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
}


.display-3{
	font-size: 100vph;
	font-family: calligraphy;
}

p{
	font-size: 1.2em;
	text-indent: 10px;
}

.nav-link{
	letter-spacing: 6px;
}

.navbar-brand{
	letter-spacing: 6px;
}
