@font-face{
	font-family: type-writer;
	src: url(font/typewriter.ttf);	
}

@font-face{
	font-family: calligraphy;
	font-style: bold;
	src: url(font/broken-heart.ttf);
}


@include media-breakpoint-up(sm){
	html{
		font-size: 1.2rem;
	}
	
}

html{
	
	font-size: 1rem;
	
}

.nav-link{
	text-decoration: none;
	color: #878792;
	font-family: type-writer;	
}

.nav-link:hover{
	color: #c9c9cf;
	text-decoration: none;
}

.home-icon{
	color:  #878792;
	font-family: calligraphy;
	text-decoration: none;
	padding-top: 5px;
}

.home-icon:hover{
	color: #c9c9cf;
	text-decoration: none;
}

.main-title{
	font-family: calligraphy;
	color: white;
}

.sub-main-title{
	font-family: type-writer;
	color: white;
}

body{
	background-image: url("slideshow2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size:: cover;
	-o-background-size: cover;
	overflow: hidden;
}
.container{
	padding-top: 200px;
}