@font-face{
	font-family: type-writer;
	src: url(font/typewriter.ttf);	
}

@font-face{
	font-family: calligraphy;
	font-style: bold;
	src: url(font/broken-heart.ttf);
}

body{
	color: #878792;
	font-size: 20px;
	border-color: #878792;
	border-bottom-width: 0.5px;
	border-top-width: 0.5px;
	text-align: center;
}

.left-aligned{
	display: block;
	float: left;
	text-decoration: none;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.title{
	font-size: 30px;
	font-family: type-writer;
	vertical-align: center;
}

.link-title{
	font-size: 20px;
	color: #878792;
}

.link-title:hover{
	color: #c9c9cf;
}

.section{
	padding: 30px;
}

.section-title{
	font-family: calligraphy;
	font-size: 80px;
}

.section-content{
	padding-bottom: 50px;
	padding-top: 50px;
	display: grid;
}

.section-content div{
	padding: 50px;
}

.section-content div img{
	width: 50%;
	height: auto;
}
#map{
	height: auto;
	width: 100%;
	min-height: 500px;
}
#topnav{	
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top:0
}

#names{
	font-family: calligraphy;
	font-size: 100px;
}

#main-title{
	vertical-align: center;
	padding-top: 50px;
}

#slide{
	width: 100%;
	height: auto;
}