/*Loading Icon*/

.fa-spinner{
	animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  padding-right: 10px;
  position: relative;
  transform-origin: center center;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/*Forms*/

.radio-container{
	display: inline;
	position: relative;	
	padding: 0px 40px;
}

.radio-container input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.radio-style{
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 80px;
  line-height: 35px;
  text-align: center;
  color: #77728c;
  font-weight: 200;
  border: 1px solid #77728c;
  cursor: pointer;
}

.radio-container input:checked ~ .radio-style {
  background-color: #77728c;
  color: white;
}

.radio-container input:hover ~ .radio-style {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: white;
}



.custom-text-input{
	border: none;
	border-bottom: 1px solid #e6e6e6;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 6px;
	padding: 5px 10px;
	width: 100%;
}

.custom-text-input:focus{
	border-color: #77728c;
	outline: none;
}

.error-txt{
	color: red;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 6px;
}
