<section [ngSwitch]="state" class="light-section section-padding">
		<div *ngSwitchCase="RsvpState.Submit" class="container">
			<div class="row pt-5 pb-5">
				<div class="offset-md-3 col-12 pb-5">
					<div class="p-title">ENTER THE NAMES OF THOSE ATTENDING</div>
				</div>
			</div>
			
			<div class="row pb-5" *ngFor="let guest of guests; let i = index">		
				<div class="offset-md-3 col-md-3 col-9">
					<input [(ngModel)]="guest.firstName" type="text" class="custom-text-input" placeholder="FIRST NAME">
				</div>
					
				<div class="col-md-3 col-9 pt-3 pt-md-0">
					<input [(ngModel)]="guest.lastName" type="text" class="custom-text-input" placeholder="LAST NAME">
				</div>
				<div *ngIf="i > 0" class="col-1">
					<button (click)="removeGuest(i)" class="btn-remove"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div *ngIf ="invalidInput" class="row">
				<div class="offset-md-3 col-md-6 col-12 error-txt">YOU MUST ENTER A FULL NAME FOR ALL ATTENDING</div>
			</div>
			<div *ngIf="errorOccured" class="row">
				<div class="offset-md-3 col-md-6 col-12 error-txt">AN UNEXPECTED ERROR OCCURED. PLEASE TRY AGAIN. IF THE PROBLEM PERSISTS PLEASE CONTACT US.</div>
			</div>

			<div class="row pt-5">
				<div class="offset-md-3 offset-0 col-md-3 col-12">
					<button (click)="addGuest()" class="btn-lgt">+ ADD ATTENDEE</button>
				</div>
				<div class="pt-md-0 pt-3 col-md-3 col-12">
					<button (click)="onSubmit()" class="btn-dark">SUBMIT</button>
				</div>
			</div>

		</div>
		<div *ngSwitchCase="RsvpState.Start" class="container">
			<div class="row pt-5 text-center">
				<div class="section-title offset-md-3 col-md-6 pb-5">RSVP</div>
			</div>
			<div class="row pb-5 text-center">
				<div class=" p-title offset-md-2 col-md-8 col-12 pb-5">PLEASE LET US KNOW BY APRIL 30, 2019</div>
			</div>
			<div class="row pb-5">
				<div class="offset-md-5 col-md-2 col-12">
					<button (click)="nextState()" class="btn-dark">BEGIN ></button>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="RsvpState.End" class="container">
			<div class="row pt-5 text-center">
				<div class="section-title offset-md-3 col-md-6 pb-5">THANK YOU</div>
			</div>
			<div class="row pb-5 text-center">
				<div class=" p-title offset-md-3 col-md-6 pb-5">YOUR RSVP HAS BEEN SUBMITTED</div>
			</div>
		</div>
</section>