<section class="light-section section-padding">
	<div class="container">
		<div class="row">
			<div class="col">
				<a class="embed-responsive-item zola-registry-embed" href="https://www.zola.com/registry/ashleyandbruce2019" data-registry-key="ashleyandbruce2019">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
			</div>
		</div>
	</div>
</section>
		
