html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/*Text*/

.header-title{
	color: white;
	font-size: 70px;
	font-family: dancing_in_the_beat;
}

.header-sub-title{
	color: #77728c;
	font-size: 50px;
	font-family: dancing_in_the_beat;
}

.section-title{
	letter-spacing: 6px;
	font-weight: 400;
	font-size: 40px;
	color: #77728c;
	padding-bottom: 100px;
}

.p-title{
	letter-spacing: 6px;
	font-weight: 300;
	font-size: 20px;
	padding-bottom: 10px;
}

.p-content{
	font-weight: 200;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.link{
	color: #77728c;
	font-weight: 500;
}

.link:hover{
	color: #e6e6e6;
	text-decoration: none;
}
/*Buttons*/

button{
	padding: 5px 25px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: 200;
	width: 100%;
}

button:focus{
	outline: none;
}

button:hover{
	cursor: pointer;
}

button[disabled]:hover{
	cursor: not-allowed;
}

.btn-dark{
	background-color: #77728c;
	border: none;
	color: white;
}

.btn-dark:hover{
	background-color: #e6e6e6;
}

.btn-dark[disabled]:hover{
	background-color: #77728c;
}

.btn-lgt{
	background-color: white;
	border: 2px solid #77728c; 
	color: #77728c;
}

.btn-lgt:hover{
	border-color: #e6e6e6;
	color: #e6e6e6;
}

.btn-lgt[disabled]:hover{
	background-color: white;
}

.btn-remove{
	background: none;
	color: #77728c;
	text-align: left;
	border: none;
}

.btn-remove:hover{
	color: #e6e6e6;
}

.up{
	position: fixed;
	cursor: pointer;
	text-align : center;
	background-color: #77728c;
	color: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 5px;
	padding: 8px;
	z-index: 1000;
	display: none;
}
.up:hover{
	background-color: #e6e6e6;
}

/*Sections*/

.full-screen{
	width: 100%;
	height: 100%;
}

.section-padding{
	padding: 120px 0px;
}

.dark-section{
	background-color: #f8f9fa;
}

.light-section{
	background-color: white;
}
.header-section{
	padding-top: 20px;
}


/*Media Queries*/

@media (max-width: 575.98px) {
	.header-img, .header-content{
		width: 100%;
		min-height: 500px;
	}
	.header-img{
		padding-bottom: 20%;
		padding-left: 10%;
	}
	.header-title{
		font-size: 50px;
	}
	.header, .full-screen{
		height: auto;
	}

}


@media (min-width: 576px) and (max-width: 767.98px) {
	.header-img, .header-content{
		width: 100%;
		min-height: 500px;
	}
	.header-img{
		padding-bottom: 20%;
		padding-left: 10%;
	}
	.header-title{
		font-size: 70px;
	}
	.header, .full-screen{
		height: auto;
	}

}
